* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #333;
}

.steps {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  background-color: #f7f7f7;
  margin: 8rem auto;
  padding: 5rem 10rem;
}

.numbers {
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
}

.numbers > div {
  background-color: #e7e7e7;
  /* padding: 1.5rem 2rem; */
  border-radius: 50%;
  font-size: 1.8rem;
  height: 5rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numbers .active {
  background-color: #7950f2;
  color: #fff;
  cursor: pointer;
}

.message {
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
  margin: 3rem 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  font-size: 1.4rem;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 10rem;
  font-weight: 800;
}
